@charset "utf-8";
@import "./_com";

//颜色
$red: #dc3d39;
$gray:#b4b4b4;


.header_hd {
  height: px2rem(80px);
  background: $red;
  color: #fff;
  font-size: px2rem(36px);
  a {
    color: #fff;
    position: absolute;
    left: px2rem(30px);
    line-height: px2rem(80px);
    font-weight: bold;
  }
  h1 {
    height: 100%;
    line-height: px2rem(80px);
    text-align: center;
    font-weight: bold;
    width: px2rem(750px);
  }
}

.help_ul {

}

.home_dl {
  font-size: px2rem(28px);
  dt {
    padding-left: px2rem(18px);
    background: #f4f4f8;
    height: px2rem(60px);
    line-height: px2rem(60px);
    font-weight: bold;
  }
  dd {
    padding: px2rem(30px) px2rem(18px);
    line-height: px2rem(40px);
    border-bottom: 1px solid $gray;
    &:last-child{
      border-bottom: none;
    }
    &.return_dd {
      cursor: pointer;
      padding-left: px2rem(30px);
      position: relative;
      &::after{
        content: "";
        position: absolute;
        background: url("../img/icon_return.png") no-repeat center;
        background-size: 100% 100%;
        height: px2rem(50px);
        width: px2rem(50px);
        top:px2rem(25px);
        right: px2rem(40px);
      }
    }
  }
}

.phone_dl {
  font-size: px2rem(24px);
  padding: 0 px2rem(20px);
  dt {
    font-size: px2rem(26px);
    line-height: px2rem(86px);
    clear: both;
    width: 100%;
    font-weight: bold;
  }
  dd {
    color: $gray;
    text-align: center;
    margin-right:5%;
    height: px2rem(70px);
    line-height: px2rem(70px);
    width: 16%;
    float: left;
    border: 1px solid $gray;
    border-radius: px2rem(18px);
    &:last-child{
      margin-right: 0;
    }
  }
  .current {
    color: $red;
    border-color: $red;
  }
}


.detail_dl {
  dt {
    color: $red;
    font-size: px2rem(28px);
    font-weight: bold;
    padding-left: px2rem(34px);
    border-bottom: 1px solid $gray;
    line-height: px2rem(100px);
  }
  dd {
    h4 {
      line-height: px2rem(56px);
      height: px2rem(56px);
      margin: px2rem(28px);
      margin-right: 0;
      padding-left: px2rem(20px);
      border-left: px2rem(24px) solid $red;
      font-size: px2rem(24px);
    }
    p{
      font-size: px2rem(26px);
      text-indent: px2rem(52px);
      padding: 0 px2rem(20px);
      line-height: px2rem(40px);
      span{color: $red}
      &:first-child{
        margin-top: px2rem(40px);
      }
      &.no-indent{
        text-indent: 0;
        strong{}
      }
    }
  }
  img {
    display: block;
    width: 100%;
    padding: px2rem(20px) px2rem(100px);
  }
  div.choose_box{
    margin: px2rem(80px) 0;
    aside{
      float: left;
      width: 50%;
      a{
        text-align: left;
        display: block;
        position: relative;
        padding-left: px2rem(180px);
        font-size: px2rem(28px);
        color: #777777;
        &::before{
          content: "";
          display: block;
          position: absolute;
          top:px2rem(-28px);
          left: px2rem(80px);
          height: px2rem(86px);
          width: px2rem(86px);
          background: url("../img/icon_help_top.png") no-repeat center;
          background-size: 100% 100%;
        }
      }
      .icon_help_bottom{
        padding-left: px2rem(110px);
        text-align: left;
        &::before{
          left: px2rem(14px);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
      &.detail_choose{
        a{
          color: $red;
          &::before{
            background-image: url("../img/icon_help_top_choose.png");
          }
        }
      }
    }
  }
}



